@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

.animate-float-slow {
    animation: float 8s ease-in-out infinite;
}

.animate-float-delay {
    animation: float 7s ease-in-out infinite;
    animation-delay: 2s;
}